
/* 用户对话框样式 */
.dialog {
    display: none;   /* 初始隐藏 */
    background-color: #0e0e0e;
    border-radius: 8px;
    width: 90%;
    max-width: 960px;
    /* height: 50vh;    /* 设置高度为视口高度的80% */
    /* max-height: 600px; 设置最大高度 */ 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555;
}

.content {
    display: flex;          /* 使用弹性布局 */
    flex-wrap: nowrap;     /* 不换行 */
    gap: 20px;             /* 设置横向间距 */
    padding: 20px;
}

.section {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    flex: 1;               /* 每个 section 平分空间 */
}

.section h3 {
    margin: 0 0 10px 0;
}

.section button {
    background-color: #4a4a4a;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.section select {
    width: 100%; /* 或者设置具体宽度 */
    padding: 10px;
    background-color: #3a3a3a; /* 可选 */
    color: white; /* 可选 */
    border: none; /* 去掉边框 */
    border-radius: 4px; /* 添加圆角 */
    margin-top: 20px; /* 增加外边距 */
    margin-bottom: 20px; /* 增加外边距 */
}

.sign-up button {
    width: 100%; /* 或者 设置具体宽度 */
    padding: 10px; /* 增加内边距 */
    background-color: #4a4a4a; /* 按钮背景颜色 */
    color: white; /* 按钮字体颜色 */
    border: none; /* 去除边框 */
    border-radius: 4px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时变成手指 */
    margin-bottom: 20px; /* 增加外边距 */

}

.update button {
    width: 100%; /* 或者 设置具体宽度 */
    padding: 10px; /* 增加内边距 */
    background-color: #4a4a4a; /* 按钮背景颜色 */
    color: white; /* 按钮字体颜色 */
    border: none; /* 去除边框 */
    border-radius: 4px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时变成手指 */
    margin-bottom: 20px; /* 增加外边距 */

}

/* 游戏开始 */
.start button {
    width: 100%; /* 或者 设置具体宽度 */
    padding: 10px; /* 增加内边距 */
    background-color: #716e6e; /* 按钮背景颜色 */
    color: white; /* 按钮字体颜色 */
    border: none; /* 去除边框 */
    border-radius: 4px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时变成手指 */
}

.team-select button {
    width: 40%; /* 或者 设置具体宽度 */
    padding: 10px; /* 增加内边距 */
    background-color: #716e6e; /* 按钮背景颜色 */
    color: white; /* 按钮字体颜色 */
    border: none; /* 去除边框 */
    border-radius: 4px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时变成手指 */
}

.section p {
    margin: 10px 0;
}

.section .description {
    font-size: 0.9em;
    color: #bbb;
}

.footer {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 在两端对齐 */
    align-items: center; /* 垂直居中对齐 */
    padding: 20px;
    border-top: 1px solid #555;
}

.footer span {
    margin: 0 20px;
}

.footer .mode {
    color: red;
}

.footer .logo {
    width: 50px; /* 设定LOGO的宽度 */
    height: auto; /* 自适应高度 */
    margin-right: 20px; /* LOGO与文本之间的间距 */
}


/* 小地图样式 */
.map {
    position: absolute; /* 绝对定位 */
    top: 82%; /* 自身高度的 50% 在父元素中心 */
    left: 90%; /* 自身宽度的 50% 在父元素中心 */
    transform: translate(-50%, -50%); /* 使其偏移一半的自身宽高，实现完美居中 */
    z-index: 2; /* 设置 z-index，使其在中间层 */
}
.map img{

    width: 300px; /* 设定LOGO的宽度 */
    height: auto; /* 自适应高度 */
    /* margin-right: 20px; LOGO与文本之间的间距 */
}

.map img.large {
    width: 1100px; /* 大图的宽度 */
}

.map img.small {
    width: 300px; /* 小图的宽度 */
}

/* 倒计时样式 */
#countdown {
    display: none; /* 初始隐藏遮罩 */
    font-size: 200px; /* 设置字体大小为48像素 */
    color: white; /* 字体颜色为白色 */
    text-align: center; /* 文本居中 */
    z-index: 4; /* 设置 z-index，使其在底层 */
}



