body {
    margin: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    background-color: #888;
    -webkit-user-select: none; /* Safari 和 Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /*标准语法*/
}

/* 主界面的样式 */
#main-screen {
    display: none; /* 初始隐藏主界面 */
    position: relative; /* 相对定位以确保绝对定位的子元素正确显示 */
    width: 100%;
    height: 100vh; /* 确保满屏显示 */
}

/* 背景图片样式 */
#background-image {
    position: absolute; /* 绝对定位覆盖整个屏幕 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* 背景层 */
}


.top-bar {
    position: fixed;
    top: 0;
    width: 98%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.team {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.team.red {
    color: red;
    border: 2px solid red;
}

.team.blue {
    color: #1a81e2; /* 淡蓝色 */
    border: 2px solid #1a81e2;
}

.time {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
}

/* 红方血条样式 */
.health-bar-container-red {
    position: fixed;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* width: 20%; */
}

.health-bar-red {
    width: 300px;
    height: 40px;
    background-color: red;
}

.health-fill-red {
    position: relative;
    height: 100%;
    width: 5%;
    left: 0;
    background-color: #444;

}

/* 蓝方血条样式 */
.health-bar-container-blue {
    position: fixed;
    right: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.health-bar-blue {
    width: 300px;
    height: 40px;
    background-color: #444;
}

.health-fill-blue {
    position: relative;
    height: 100%;
    width: 5%;
    right: 0;
    background-color: #1a81e2;
}
.health-text-red, .health-text-blue, .health-text-self {
    position: absolute; /* 绝对定位 */
    left: 50%;       /* 水平中心对齐 */
    top: 50%;        /* 垂直中心对齐 */
    transform: translate(-50%, -50%); /* 移动文本到中间 */
    color: white;    /* 文本颜色 */
    font-weight: bold; /* 字体加粗 */
}

/* 自身血条样式 */
.self-health-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.self-health-bar {
    width: 250px;
    height: 30px;
    background-color: #444;
    border-radius: 5px;
}

.self-health-fill {
    position: relative;
    height: 100%;
    width: 5%;
    background-color: red;
    border-radius: 5px;
}

/* 左侧信息栏样式 */
.bottom-left {
    position: fixed; /* 或者使用 absolute */
    bottom: 0;      /* 固定在屏幕底部 */
    left: 0;        /* 从左侧开始 */
    width: 100%;    /* 宽度100%（根据需要调整） */
    background-color: rgba(255, 255, 255, 0); /* 根据需要设置背景颜色 */
    padding: 10px; /* 根据需要设置内边距 */
}

/* 右侧信息栏样式 */
.bottom-right {
    position: fixed; /* 或者使用 absolute */
    bottom: 0;      /* 固定在屏幕底部 */
    right: 0;        /* 从右侧开始 */
    width: 5%;    /* 宽度100%（根据需要调整） */
    background-color: rgba(255, 255, 255, 0); /* 根据需要设置背景颜色 */
    padding: 10px; /* 根据需要设置内边距 */

    display: flex;               /* 启用 flexbox */
    flex-direction: row;        /* 水平方向排列 */
    justify-content: space-between; /* 在主轴上分散对齐 */
    align-items: center;        /* 在交叉轴上居中对齐 */
}

/* 屏幕中心显示样式 */

/* 瞄准线 */

.center-display {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.cross-heat {
    position: absolute; /* 绝对定位 */
    top: 50%; /* 自身高度的 50% 在父元素中心 */
    left: 50%; /* 自身宽度的 50% 在父元素中心 */
    transform: translate(-50%, -50%); /* 使其偏移一半的自身宽高，实现完美居中 */
    z-index: 3; /* 设置 z-index，使其在底层 */
}

.cross-circle {
    position: absolute; /* 绝对定位 */
    top: 50%; /* 自身高度的 50% 在父元素中心 */
    left: 50%; /* 自身宽度的 50% 在父元素中心 */
    transform: translate(-50%, -50%); /* 使其偏移一半的自身宽高，实现完美居中 */
    z-index: 1; /* 设置 z-index，使其在底层 */
}

.crosshair {
    position: absolute; /* 绝对定位 */
    top: 50%; /* 自身高度的 50% 在父元素中心 */
    left: 50%; /* 自身宽度的 50% 在父元素中心 */
    transform: translate(-50%, -50%); /* 使其偏移一半的自身宽高，实现完美居中 */
    font-size: 25px; /* 十字标记的大小 */
    color: rgb(255, 255, 255); /* 十字标记颜色 */
}


/* 机器人状态 */
.robot-status {
    position: relative;
}
.indicator {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: gray; /* 默认颜色 */
        margin-right: 20px;
}

.status-text {
    font-size: 14px;
}

/* 提示信息 */
.no-stream {
    position: absolute;
    bottom: 20px; /* 距离底部20px */
    left: 48%; /* 距离左侧 */
    font-size: 18px; /* 字体大小 */
    color: white; /* 字体颜色 */
    background-color: rgba(0, 0, 0, 0.7); /* 背景颜色 */
    padding: 5px; /* 内边距 */
    border-radius: 5px; /* 边角圆滑 */
}


/* 键鼠提示框样式 */
.tooltip {
    position: fixed;
    bottom: 10px; /* 距离底部20px */
    right: 20px; /* 距离右边20px */
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; /* 移动提示框时不干扰鼠标事件 */
    z-index: 1000;

    /* display: none; 初始隐藏 */
}
.tooltip-key {
    position: fixed;
    bottom: 10px; /* 距离底部20px */
    right: 150px; /* 距离右边20px */
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; /* 移动提示框时不干扰鼠标事件 */
    z-index: 1000;

    /* display: none; 初始隐藏 */
}

